.navbar
  background-color: #fff
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 0
  &__search
    margin-right: auto
    margin-left: 110px
  &__menu-button
    display: none
  &-menu
    display: flex
    align-items: center
    justify-content: space-between
    padding: 31px 0
    color: #fff
    &__link
      color: inherit
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
      line-height: 18px
    &__item
      &--mobile
        &_visible
          display: none
  &-bottom
    background-color: #0A223D

.logo
  width: 177px

.search
  display: flex
  align-items: center
  overflow: hidden
  position: relative
  border-radius: 6px
  height: 40px
  &__input
    padding-left: 23px
    padding-right: 85px
    height: inherit
    width: 350px
    height: 100%
    border: none
    font-size: 12px
    line-height: 15px
    background-color: #F5FAFE
    color: $text-color
  &__button
    position: absolute
    right: 0
    top: 0
    height: inherit
    width: 65px
    border: none
    background-color: $primary

.user
  display: flex
  align-items: center
  text-decoration: none
  color: $text-color
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
  &__name
    font-size: 14px
    font-weight: normal
    line-height: 18px
    margin-left: 18px
