@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card-item
    width: 230px
    height: 230px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
      &__input
        width: 340px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
  .booking
    display: flex
    align-items: center
    justify-content: space-between
    &__option
      width: 340px
      margin-bottom: 0
    &__map
      width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
  .card-item
    flex: 0 1 339px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none
  .menu
    &-button
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .rating
    display: none
  .offer
    order: -1
  .stars
    flex-basis: auto
    margin-left: auto
  .hotel
    &-info
      padding: 5px 0 20px 0
    &-name
      flex-basis: 100%
      margin-top: 10px
      margin-right: 0
    &-slider
      height: 350px
  .booking
    flex-direction: column
    min-height: 450px
    &__option
      width: 100%
    &__map
      width: 100%
  .newsletter
    &-container
      max-width: 90%
      flex-direction: column
      align-items: start
    &__subscribe
      margin-top: 37px
  .reviews
    padding-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        &::before, &::after
          display: none
      &__text
        padding: 0 60px 30px 64px
      &__button
        top: 45px
        transform: translateY(-50%)
        &--prev
          left: 20%
        &--next
          right: 20%
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &-title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    &-wrapper
  .card-item
    flex: 1 1 339px

@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
    &__subscribe
      max-width: 100%
  .reviews
    &-slider
      &__item
        max-width: 580px
      &__text
        padding: 0 29px 36px 33px
      &__button
        top: 45px
        transform: translateY(-50%)
        &--prev
          left: 20%
        &--next
          right: 20%
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
