html,
body
  height: 100%
  width: 100%
  font-size: 100%
  line-height: 1
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary
body.lock
  overflow: hidden

.container
  max-width: 1110px
  margin: auto

img
  max-width: 100%

.input
  background-color: #fff
  border-radius: 4px
  padding: 18px 23px
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #BDBDBD

.button
  padding: 18px 65px 17px 66px
  font-weight: bold
  font-size: 12px
  line-height: 15px
  color: #FFFFFF
  background-color: $primary
  border-radius: 4px
  &__back
    margin-top: 20px

.message
  background-color: #fff
  padding: 18px 23px
  border-radius: 4px
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #BDBDBD
  min-height: 123px
  max-width: 100%

.invalid
  color: $primary
